<h2><%= dashboard_title[role] %></h2>
<div class="grid-container flex-justify-center width-full" style="gap: 1rem;">
    <% dashboard_cards_by_role[role].each_slice(2) do |card1, card2| %>
        <div class="grid-row grid-gap-2">
            <%= render partial: "dashboard_card", locals: { card: card1 } %>
            <% unless card2.nil? %>
                <%= render partial: "dashboard_card", locals: { card: card2 } %>
            <% end %>
        </div>
    <% end %>    
</div>