<div class="grid-row">
    <% cards.each do |card| %>
        <%= link_to(card[:href],
                class: "display-flex bg-primary-darker text-white margin-x-auto margin-y-1 flex-align-center  tablet:grid-col-6 grid-gap-2px",
                style: "text-decoration: none") do %>
            <%= image_tag(
                "images/usa-icons/#{card[:image_path]}.svg",
                class: "usa-icon--size-6 icon-white margin-x-2 justify-self-center align-self-center",
                alt: card[:alt]
            )%>
            <div class="" >
                <h3 style="text-decoration: none"><%= card[:title] %></h3>
                <h4><%= card[:subtitle] %></h4>
            </div>    
        <% end %>    
    <% end %>    
</div>    