<h1>Manage Submissions</h1>
<p class="text-normal">View challenge submissions and manage your list of evaluators for each challenge.</p>

<% if @challenges.empty? %>
  <div class="text-normal">
    <p>You currently do not have any challenges.</p>
  </div>
<% else %>
  <%= render partial: "table", locals: { challenges: @challenges } %>
<% end %>  