/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Add a list of changed settings in the form $setting: value.
----------------------------------------
*/
@use "uswds-core" with (
  $theme-image-path: "images",
  $theme-font-path: "fonts",
  $flex-direction-settings: (
    responsive: true
  ),
  $theme-accordion-button-background-color: 'blue-70v',
  $theme-color-primary-darker: 'blue-80v',
  $theme-color-accent-warm-dark: "orange-warm-50v",
  $theme-color-success-dark: "green-cool-60v",
  $theme-grid-container-max-width: "widescreen",
  $theme-link-color: "blue-60v",
  $theme-link-visited-color: "blue-70v",
  $theme-link-hover-color: "blue-70",
  $theme-link-active-color: "blue-80v"
);

@use "uswds" as *;

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.usa-footer__logo {
  display: flex;
  align-items: center;
}

.usa-footer__logo-img {
  max-width: 100%;
  height: auto;
}

.footer-white {
  color: white;
}

.usa-footer__social-links .usa-social-link__icon {
  /*
   * override the default svg stroke color to match USWDS .bg-primary-darker: #162e51
   * source: https://codepen.io/sosuke/pen/Pjoqqp
   */
  filter: invert(14%) sepia(17%) saturate(4304%) hue-rotate(190deg) brightness(94%) contrast(92%);
}

.icon-white {
  filter: invert(99%) sepia(2%) saturate(3661%) hue-rotate(191deg) brightness(117%) contrast(80%);
}

.width-half {
  width: 50%;
}

.usa-social-link {
  background-color: white;
}

.usa-footer__secondary-section .usa-social-link:hover .usa-social-link__icon {
  background-color: white;
}

h1 {
  font-weight: normal;
}

a {
  color: color($theme-link-color);
  &:visited {
    color: color($theme-link-visited-color);
  }
  &:hover {
    color: color($theme-link-hover-color);
  }
  &:active {
    color: color($theme-link-active-color);
  }
}
