/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Add a list of changed settings in the form $setting: value.
----------------------------------------
*/
@use "uswds-core" with ($theme-image-path: "images",
  $theme-font-path: "fonts"
);

@use "uswds" as *;

.usa-footer__logo {
  display: flex;
  align-items: center;
}

.usa-footer__logo-img {
  max-width: 100%;
  height: auto;
}

.footer-white {
  color: white;
}

.usa-footer__social-links .usa-social-link__icon {
  background-color: white;
}

.usa-social-link {
  background-color: white;
}

.usa-footer__secondary-section .usa-social-link:hover .usa-social-link__icon {
  background-color: white;
}