@use "uswds-core" with ($theme-image-path: "images",
  $theme-font-path: "fonts"
);

@use "uswds" as *;

.footer-white {
  color: white;
}

.usa-footer__logo-img {
  max-width: 100%;
  height: auto;
}

.usa-footer__social-links .usa-social-link__icon {
  color: #162e51;
  background-color: white;
}

.usa-social-link {
  background-color: white;
}

.usa-footer__secondary-section .usa-social-link:hover .usa-social-link__icon {
  background-color: white;
  color: #162e51;
}