<% flash.each do |key, value| %>
  <% alert_class = case key.to_sym
     when :notice then "usa-alert--success"
     when :alert then "usa-alert--error"
     when :error then "usa-alert--error"
     else "usa-alert--info"
     end %>

  <div class="usa-alert <%= alert_class %> usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text"><%= value %></p>
    </div>
  </div>
<% end %>
