<a href="#renew-modal" style="display:none;" id="renew-modal-button" class="usa-button" aria-controls="renew-modal" data-open-modal></a>

<div
  class="usa-modal"
  id="renew-modal"
  aria-labelledby="modal-1-heading"
  aria-describedby="modal-1-description"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="modal-1-heading">
        Session expire
      </h2>
      <div class="usa-prose">
        <p id="modal-1-description">
            Your session will expire in <span id="countdown"></span><br>
            Please click below if you would like to continue.
        </p>
      </div>
      <div class="usa-modal__footer">
          <button class="usa-button modal-btn" id="extend-session-button" data-close-modal type="button">Renew Session</button>
      </div>
    </div>
  </div>
</div>