<dialog
    id="renew-modal"
    class="border-width-0 radius-lg"
    aria-labelledby="renew-modal-heading"
    aria-describedby="renew-modal-description">
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2 class="usa-modal__heading" id="renew-modal-heading">
        Session expire
      </h2>
      <div class="usa-prose">
        <p id="renew-modal-description">
            Your session will expire in <span class="countdown"></span><br>
            Please click below if you would like to continue.
        </p>
      </div>
      <div class="usa-modal__footer">
          <button class="usa-button modal-btn" id="extend-session-button" data-close-modal type="button">Renew Session</button>
      </div>
    </div>
  </div>
</dialog>