<a href=<%= "/#{href}" %> class="text-white display-flex flex-column flex-align-center margin-x-1" style="font-size: .7rem; text-decoration: none;">
    <%= image_tag("images/usa-icons/#{image_path}.svg", class: "usa-icon--size-4 icon-white margin-bottom-05", alt: alt) %>
    <%= button_label %>
</a>