<a href=<%= "/#{href}" %> class="display-flex flex-align-center margin-x-3 text-white">
    <%= image_tag("images/usa-icons/#{image_path}.svg", class: "usa-icon--size-3 icon-white margin-top-1 margin-right-1", alt: alt) %>
    <span class="margin-top-1">
        <%= button_label %>
    </span>
</a>
