<% content_for :title, "Editing evaluation form" %>

<h1>Editing evaluation form</h1>

<%= render "form", evaluation_form: @evaluation_form %>

<br>

<div data-controller="form-validation" data-form-validation-target="output" data-form-validation-url-value="<%= form_validations_post_path(@post) %>">
  <%= link_to "Show this evaluation form", @evaluation_form %> |
  <%= link_to "Back to evaluation forms", evaluation_forms_path %>
</div>
