<% content_for :title, "Editing evaluation form" %>

<h1>Editing evaluation form</h1>

<%= render "form", evaluation_form: @evaluation_form %>

<br>

<div>
  <%= link_to "Show this evaluation form", @evaluation_form %> |
  <%= link_to "Back to evaluation forms", evaluation_forms_path %>
</div>
