<% content_for :title, "Editing evaluation form" %>

<h1><%= if @evaluation_form.phase.end_date < Date.today then "View" else "Editing" end %> evaluation form</h1>

<%= render "form", evaluation_form: @evaluation_form %>
