<% content_for :title, "Create Evaluation Form" %>

<h1>Create Evaluation Form</h1>

<%= render "form", evaluation_form: @evaluation_form %>

<br>

<div>
  <%= link_to "Back to evaluation forms", evaluation_forms_path %>
</div>
