<% content_for :title, "New evaluation form" %>

<h1>New evaluation form</h1>

<%= render "form", evaluation_form: @evaluation_form %>

<br>

<div>
  <%= link_to "Back to evaluation forms", evaluation_forms_path %>
</div>
